@media (max-width: 649px) {
    ul {
        color: white;
    }
    
    ul li {
        display: inline;
    }
    
    a:hover {
        color: Tomato;
    }
    
    .menu {
        background-color: #808080;
        border: 1px solid Tomato;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        text-align: center;
        padding: 10px;
        font-family: sans-serif;
        
    
        
    }
    
    .actuser{
        background-color: Tomato;
        font-size: 10px;
        font-family: sans-serif;
        border: 1px solid black;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        margin-top:0;
        color: white;
        text-align: center;
    }
    
    a {
        font-size: 16px;
        color: white;
    }
    
    h1 {
        color: Tomato;
        font-size: 20px;
        font-family: sans-serif;
        text-align: center;
        
    }
    
    #Header1 {
        color: white;
        font-weight: bold;
        font-size: 16px;
    }
    
    body {
        background-color: #383838;
    }
    
    #file {
        border: 1px solid Tomato;
        border-radius: 3px;
        background-color: white;
        margin-left: 10%;
        width: 300px;
        
    }
    
    .images {
        width: 45%;
        height: 240px;
        display: inline;
        padding: 10px;
    }
    
    #imgs {
        text-align: center;
        width: 100%;
    }
    
    #comments {
        background-color: white;
        font-family: sans-serif;
        width: 98%;
        margin-top: 5px;
        padding: 5px;
        
    }
    
    #commentBox {
        text-align: center;
        
    }
    
    td {
        width: 40%;
        color: Tomato;
        
    }
    
    #commentinput {
        width: 20%;
    }
    
    #login {
        width: 99%;
        text-align: center;
        background-color: white;
        border-radius: 5px;
        border: 2px solid Tomato;
    }
    
    #register {
        width: 99%;
        text-align: center;
        background-color: white;
        border-radius: 5px;
        border: 2px solid Tomato;
    }
    
    .notification {
        text-align: center;
        font-size: 24px;
        font-family: sans-serif;
        color: Tomato;
        
    }
    
    #myProfile {
        color: Tomato;
        text-align: center;
        font-family: sans-serif;
        
    }
    
    #ownImages {
        float: left;
        width: 49.5%;
        text-align: center;
        border: 2px solid Tomato;
        background-color: white;
        font-family: sans-serif;
    }
    
    #ownComments {
        float: left;
        text-align: center;
        width: 49.5%;
        background-color: red;
        border: 2px solid Tomato;
        font-family: sans-serif;
    }
    
    h4 {
        font-weight: bold;
        font-size: 30px;
    }
    
    
    #plainText {
        background-color: white;
        text-align: center;
        
    }
    
    p {
        color: white;
    }
    
    #intro {
        color: Tomato;
        width: 80%;
        margin: auto;
        background: black;
    }
    #xml {
        color: Tomato;
        font-size: 20px;
        text-align: center;
        height:300px;
        background-color: white;
        width: 80%;
        margin: auto;
    
    }
    #deleteUser {
        color: Tomato;
        font-size: 20px;
        text-align: center;
        height:200px;
        background-color: white;
        width: 300px;
        margin: auto;
    }
}